<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186183335446-a3idvdbn4ve7qgdpo4p2jh96phs29946.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186183335446-a3idvdbn4ve7qgdpo4p2jh96phs29946</string>
	<key>API_KEY</key>
	<string>AIzaSyB6TRH9LQfHnygeUgKAwwbw2aTY5nTtUn8</string>
	<key>GCM_SENDER_ID</key>
	<string>186183335446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CMSI2022-MobileDev.Party-Finder</string>
	<key>PROJECT_ID</key>
	<string>party-finder-ffa72</string>
	<key>STORAGE_BUCKET</key>
	<string>party-finder-ffa72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186183335446:ios:f2467c08db406a4e9e3f37</string>
</dict>
</plist>